<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427836812978-n0tjqtkmh0e5nls863vo3enng26l8es0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427836812978-n0tjqtkmh0e5nls863vo3enng26l8es0</string>
	<key>API_KEY</key>
	<string>AIzaSyDK98LacaCGQ4P90eiTGbKHdPB8CaDIi0w</string>
	<key>GCM_SENDER_ID</key>
	<string>427836812978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoToday</string>
	<key>PROJECT_ID</key>
	<string>todo-today-74b74</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-today-74b74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427836812978:ios:952eeb92edb95d4e38e3ab</string>
</dict>
</plist>